<a href="https://colab.research.google.com/github/Gwakinyong/hyundai_rotem_AI_studnt/blob/master/coding_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C_(%EA%B3%BD%EC%9D%B8%EC%9A%A9).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 문제 1: 리스트의 합 구하기
# 주어진 리스트의 모든 요소의 합을 구하는 함수를 작성하세요.

def sum_of_list(lst):
    my_lst = sum(lst)
    return my_lst

print(sum_of_list([1, 2, 3, 4]))  # 출력: 10

10

In [ ]:
# 문제 2: 리스트에서 최댓값과 최솟값 구하기
# 리스트에서 최댓값과 최솟값을 구하는 함수를 작성하세요.

def max_and_min(lst):
    lst.sort()
    return lst[-1], lst[0]

print(max_and_min([10, 20, 4, 45, 99]))  # 출력: (99, 4)

(99, 4)

In [ ]:
# 문제 3: 리스트 뒤집기
# 주어진 리스트를 역순으로 뒤집는 함수를 작성하세요.
# (직접 구현해 보세요, list.reverse() 사용하지 말 것)

def reverse_list(lst):
    result = lst[::-1]
    return result

print(reverse_list([1, 2, 3, 4]))  # 출력: [4, 3, 2, 1]

[4, 3, 2, 1]

In [ ]:
# 문제 4: 리스트 중복 제거
# 리스트에서 중복된 요소를 제거하고, 중복이 제거된 리스트를 반환하는 함수를 작성하세요.

def remove_duplicates(lst):
    result = list(set(lst))
    return result

print(remove_duplicates([1, 2, 2, 3, 4, 4, 5]))  # 출력: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
# 문제 5: 리스트 요소들의 곱 구하기
# 리스트의 모든 요소의 곱을 구하는 함수를 작성하세요.

def multiply_list(lst):
    lst_result = 1  # Initialize the result to 1
    for mst in lst:
        lst_result = lst_result * mst
    return lst_result

print(multiply_list([1, 2, 3, 4]))  # 출력: 24

24

In [ ]:
# 문제 6: 리스트에서 짝수와 홀수 구분하기
# 주어진 리스트에서 짝수와 홀수를 구분하여 별도의 리스트에 저장한 뒤 반환하는 함수를 작성하세요.

def separate_even_odd(lst):
    co_result = [tmp for tmp in lst if tmp % 2 == 0]
    co1_result = [tmp for tmp in lst if tmp % 2 != 0]
    return(co_result, co1_result)

print(separate_even_odd([1, 2, 3, 4, 5, 6, 7, 8, 9]))
# 출력: ([2, 4, 6, 8], [1, 3, 5, 7, 9])

([2, 4, 6, 8], [1, 3, 5, 7, 9])

In [ ]:
# 문제 7: 리스트 요소들의 위치 교환
# 리스트의 첫 번째 요소와 마지막 요소의 위치를 바꾸는 함수를 작성하세요.

def swap_first_last(lst):
    new_lst = lst[:]
    lst[0] = lst[-1]
    lst[-1] = new_lst[0]
    return lst

print(swap_first_last([1, 2, 3, 4, 5]))  # 출력: [5, 2, 3, 4, 1]

[5, 2, 3, 4, 1]

In [ ]:
# 문제 8: 리스트에서 특정 요소의 모든 인덱스 찾기
# 리스트에서 특정 요소가 나타나는 모든 인덱스를 리스트로 반환하는 함수를 작성하세요.

def find_all_indices(lst, value):
    new_list = [tmp for tmp in lst if tmp % value != 0]
    return new_list

print(find_all_indices([1, 2, 3, 2, 4, 2, 5], 2))  # 출력: [1, 3, 5]

[1, 3, 5]

In [ ]:
# 문제 9: 리스트의 중간 요소 찾기
# 리스트의 중간에 있는 요소를 반환하는 함수를 작성하세요.
# 리스트의 길이가 짝수일 경우 두 개의 중간 요소를 반환하세요.

def find_middle(lst):
    if len(lst) % 2 == 0:
      middle_len = len(lst) // 2
      return tuple(lst[middle_len-1:middle_len+1])
    else:
      middle_len = round(len(lst) // 2)
      return lst[middle_len]

print(find_middle([1, 2, 3, 4, 5]))  # 출력: 3
print(find_middle([1, 2, 3, 4]))     # 출력: (2, 3)

3
(2, 3)

In [ ]:
# 문제 10: 중첩 리스트 펼치기 (Flattening)
# 중첩된 리스트를 평평하게 만들어 단일 리스트로 반환하는 함수를 작성하세요.

def flatten(lst):
    result = []
    for item in lst:
        if isinstance(item, list):
            result.extend(flatten(item))
        else:
            result.append(item)
    return result

print(flatten([1, [2, 3], [4, [5, 6]], 7]))  # 출력: [1, 2, 3, 4, 5, 6, 7]

[1, 2, 3, 4, 5, 6, 7]

# 딕셔너리

--------------------------------------------------------------------------------

In [ ]:
# 문제 1: 딕셔너리에서 값의 합 구하기
# 주어진 딕셔너리에서 모든 값의 합을 구하는 함수를 작성하세요.
# (딕셔너리의 값은 모두 숫자라고 가정합니다.)

def sum_of_dict_values(d):
    result = sum(d.values())
    return result

print(sum_of_dict_values({'a': 100, 'b': 200, 'c': 300}))  # 출력: 600

600

In [ ]:
# 문제 2: 딕셔너리에서 특정 값 찾기
# 딕셔너리에서 특정 값을 가지는 첫 번째 키를 반환하는 함수를 작성하세요.
# 값이 없는 경우 None을 반환합니다.

def find_key_by_value(d, value):
    for key, val in d.items():
        if val == value:
            return key
    return None

print(find_key_by_value({'a': 100, 'b': 200, 'c': 300}, 200))  # 출력: 'b'
print(find_key_by_value({'a': 100, 'b': 200, 'c': 300}, 400))  # 출력: None

b
None

In [ ]:
# 문제 3: 키 값 뒤집기
# 주어진 딕셔너리에서 키와 값을 뒤집어 새로운 딕셔너리를 반환하는
# 함수를 작성하세요. (값은 고유하다고 가정합니다.)

def invert_dict(d):
    new1_dict = {}
    for key, val in d.items():
        new_dict = {val: key}
        new1_dict.update(new_dict)
    return new1_dict

print(invert_dict({'a': 1, 'b': 2, 'c': 3}))
# 출력: {1: 'a', 2: 'b', 3: 'c'}

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
# 문제 4: 두 딕셔너리 합치기
# 두 개의 딕셔너리를 합쳐서 새로운 딕셔너리를 반환하는 함수를 작성하세요.
# 만약 동일한 키가 존재하면 두 값의 합을 사용하세요.

def merge_dicts(d1, d2):
    for key, val in d2.items():
        if key in d1:
            d1[key] = d1[key] + val
        else:
            d1[key] = val
    return d1

print(merge_dicts({'a': 100, 'b': 200}, {'b': 300, 'c': 400}))
# 출력: {'a': 100, 'b': 500, 'c': 400}

{'a': 100, 'b': 500, 'c': 400}

In [ ]:
# 문제 5: 딕셔너리 정렬하기
# 주어진 딕셔너리를 값에 따라 오름차순으로 정렬된 딕셔너리를 반환하는 함수를 작성하세요.

def sort_dict_by_value(d):
    sort_values = sorted(d.items())
    new_dict = dict(sort_values)
    return new_dict

print(sort_dict_by_value({'a': 3, 'b': 1, 'c': 2}))
# 출력: {'b': 1, 'c': 2, 'a': 3}

{'a': 3, 'b': 1, 'c': 2}

In [ ]:
# 문제 6: 중첩 딕셔너리에서 값 가져오기
# 중첩된 딕셔너리에서 특정 키의 값을 가져오는 함수를 작성하세요.
# 키가 없으면 None을 반환합니다.

def get_nested_value(d, keys):
    for key, val in d.items():
        if key == keys[0]:
          for key, val in val.items():
            if key == keys[1]:
              for key, val in val.items():
                if key == keys[2]:
                  return val
    return None

nested_dict = {'a': {'b': {'c': 100}}}
print(get_nested_value(nested_dict, ['a', 'b', 'c']))  # 출력: 100
print(get_nested_value(nested_dict, ['a', 'b', 'x']))  # 출력: None

100
None

In [ ]:
# 문제 7: 키와 값 스왑하기
# 딕셔너리에서 키와 값을 스왑하고, 동일한 값을 가진 키들이 있을 경우
# 리스트로 묶는 함수를 작성하세요.

def swap_keys_values(d):
    new_dict = {}
    for key, val in d.items():
        if val not in new_dict:
          new_dict[val] = [key]
        else:
          new_dict[val].append(key)
    return new_dict


print(swap_keys_values({'a': 1, 'b': 2, 'c': 1}))  # 출력: {1: ['a', 'c'], 2: 'b'}

{1: ['a', 'c'], 2: ['b']}

In [ ]:
# 문제 8: 딕셔너리 필터링
# 주어진 딕셔너리에서 특정 값을 가지는 키-값 쌍만 남겨 새로운 딕셔너리를
# 반환하는 함수를 작성하세요.

def filter_dict_by_value(d, value):
    new_dic = {}
    for key, val in d.items():
      if val == value:
        new_dic[key] = val
    return new_dic

print(filter_dict_by_value({'a': 100, 'b': 200, 'c': 100}, 100))
# 출력: {'a': 100, 'c': 100}

{'a': 100, 'c': 100}

In [ ]:
# 문제 9: 두 딕셔너리의 공통 키 찾기
# 두 딕셔너리에서 공통된 key와 value를 가진 모든 키-값 쌍을 반환하는 함수를 작성하세요.

def common_keys(d1, d2):
    com_dic = {}
    for key, val in d1.items():
        for key2, val2 in d2.items():
            if key == key2:
                if val == val2:
                    com_dic[key] = val
                    return dict(com_dic)
                else:
                    pass

print(common_keys({'a': 100, 'b': 200, 'c': 300}, {'b': 200, 'c': 400, 'd': 500}))
# 출력: {'b': 200}

{'b': 200}

In [ ]:
# 문제 10: 리스트의 딕셔너리로 변환
# 두 개의 리스트를 받아서 하나는 키, 다른 하나는 값으로 사용하여 딕셔너리를
# 생성하는 함수를 작성하세요.
# 리스트의 길이가 다르면 더 짧은 길이에 맞춰서 딕셔너리를 만드세요.

def lists_to_dict(keys, values):
    new_dict = {}
    i = 0
    if len(keys) == len(values):
        for key in keys:
            new_dict[key] = values[i]
            i += 1
        return new_dict
    if len(keys) > len(values):
        for val in values:
            new_dict[keys[i]] = val
            i += 1
        return new_dict
    if len(keys) < len(values):
        for key in keys:
            new_dict[key] = values[i]
            i += 1
        return new_dict

keys = ['a', 'b', 'c']
values = [1, 2, 3]
print(lists_to_dict(keys, values))  # 출력: {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}

---
# data type 연습문제

In [ ]:
# 문제 1: 숫자 뒤집기
# 주어진 정수의 자리수를 반대로 뒤집는 함수를 작성하세요.
# (음수도 처리해야 합니다)

def reverse_integer(n):
    str_n = str(n)
    if str_n[0] == '-':
        return -int(str_n[1:][::-1])
    else:
        return str_n[::-1]

print(reverse_integer(12345))  # 출력: 54321
print(reverse_integer(-12345))  # 출력: -54321

54321
-54321

In [ ]:
# 문제 2: 문자열 문자 수 세기
# 주어진 문자열에서 각 문자의 발생 횟수를 세고, 이를 딕셔너리 형태로 반환하는
# 함수를 작성하세요.

def count_characters(s):
    return {s[cxi] : s.count(s[cxi]) for cxi in range(len(s))}

print(count_characters("hello"))  # 출력: {'h': 1, 'e': 1, 'l': 2, 'o': 1}

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
# 문제 3: 튜플과 리스트 변환
# 튜플을 리스트로, 리스트를 튜플로 변환하는 함수를 작성하세요.

def convert_tuple_list(data):
    if type(data) == type(()):
        return list(data)
    else:
        return tuple(data)

print(convert_tuple_list((1, 2, 3)))  # 출력: [1, 2, 3]
print(convert_tuple_list([1, 2, 3]))  # 출력: (1, 2, 3)

[1, 2, 3]
(1, 2, 3)

In [ ]:
# 문제 4: 집합 교집합, 합집합, 차집합
# 두 개의 리스트를 받아서 각각 교집합, 합집합, 차집합을 구하는 함수를 작성하세요.

def set_operations(list1, list2):
    new_dict = {}
    s1 = set(list1)
    s2 = set(list2)
    new_dict['intersection'] = s1&s2
    new_dict['union'] = s1|s2
    new_dict['difference'] = s1-s2
    return new_dict

print(set_operations([1, 2, 3], [3, 4, 5]))
# 출력: {'intersection': {3}, 'union': {1, 2, 3, 4, 5}, 'difference': {1, 2}}

{'intersection': {3}, 'union': {1, 2, 3, 4, 5}, 'difference': {1, 2}}

In [ ]:
# 문제 5: 리스트 중간 요소 찾기
# 주어진 리스트의 중간 요소를 반환하는 함수를 작성하세요.
# 만약 리스트의 길이가 짝수이면, 두 개의 중간 요소를 반환하세요.

def find_middle_element(lst):
    if len(lst) % 2 == 0:
      middle_len = len(lst) // 2
      return tuple(lst[middle_len-1:middle_len+1])
    else:
      middle_len = round(len(lst) // 2)
      return lst[middle_len]

print(find_middle_element([1, 2, 3, 4, 5]))  # 출력: 3
print(find_middle_element([1, 2, 3, 4]))     # 출력: (2, 3)

3
(2, 3)

In [ ]:
# 문제 6: 키-값 쌍 리스트 변환
# 딕셔너리에서 키와 값을 각각 리스트로 변환하는 함수를 작성하세요.

def dict_to_lists(d):
    return list(d.keys()), list(d.values())

print(dict_to_lists({'a': 1, 'b': 2, 'c': 3}))
# 출력: (['a', 'b', 'c'], [1, 2, 3])

(['a', 'b', 'c'], [1, 2, 3])

In [ ]:
# 문제 7: 문자열에서 단어의 역순 출력
# 주어진 문자열에서 단어의 순서를 뒤집어 출력하는 함수를 작성하세요.

def reverse_words(s):
    pass

print(reverse_words("Hello World"))  # 출력: "World Hello"

In [ ]:
# 문제 8: 중복 요소 제거
# 주어진 리스트에서 중복된 요소를 제거한 리스트를 반환하는 함수를 작성하세요.

def remove_duplicates(lst):
    return list(set(lst))

print(remove_duplicates([1, 2, 2, 3, 4, 4, 5]))  # 출력: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [2]:
# 문제 9: 모든 요소 곱하기
# 리스트 안의 모든 요소를 곱한 값을 반환하는 함수를 작성하세요.

def multiply_elements(lst):
    result = 1
    for i in range(len(lst)):
        result = result * lst[i]
    return result

print(multiply_elements([1, 2, 3, 4]))  # 출력: 24

24

In [1]:
# 문제 10: 짝수 인덱스 요소 추출
# 주어진 리스트에서 짝수 인덱스에 위치한 요소들만 추출하여
# 새로운 리스트를 반환하는 함수를 작성하세요.

def even_index_elements(lst):
    return [lst[index] for index, val in enumerate(lst) if index % 2 == 0]

print(even_index_elements([10, 20, 30, 40, 50]))  # 출력: [10, 30, 50]

[10, 30, 50]

In [6]:
# 문제 11: 문자열을 정수로 변환
# 문자열로 표현된 숫자를 정수로 변환하는 함수를 작성하세요.
# 단, 숫자 이외의 문자가 포함된 경우에는 None을 반환하세요.

def str_to_int(s):
    try:
        return int(s)
    except:
        return None

print(str_to_int("12345"))  # 출력: 12345
print(str_to_int("12a45"))  # 출력: None

12345
None

In [8]:
# 문제 12: 숫자를 문자열로 변환
# 주어진 정수를 문자열로 변환하는 함수를 작성하세요.
# 음수와 0도 처리해야 합니다.

def int_to_str(n):
    return str(f'"{n}"')

print(int_to_str(12345))  # 출력: "12345"
print(int_to_str(-12345))  # 출력: "-12345"

"12345"
"-12345"

In [17]:
# 문제 13: 리스트 합치기
# 두 개의 리스트를 하나로 합치는 함수를 작성하세요.

def concatenate_lists(lst1, lst2):
    return lst1 + lst2

print(concatenate_lists([1, 2, 3], [4, 5, 6]))  # 출력: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [19]:
# 문제 14: 문자열에서 모음 개수 세기
# 주어진 문자열에서 모음(a, e, i, o, u)의 개수를 세는 함수를 작성하세요.

def count_vowels(s):
    new_list = 'aeiou'
    result = 0
    for temp in range(len(new_list)):
        result = result + s.count(new_list[temp])
    return result

print(count_vowels("hello world"))  # 출력: 3

3

In [21]:
# 문제 15: 중첩 리스트 평탄화
# 중첩된 리스트를 평탄화하여 단일 리스트로 만드는 함수를 작성하세요.

def flatten_list(lst):
    result = []
    for item in lst:
        if isinstance(item, list):
            result.extend(flatten_list(item))
        else:
            result.append(item)
    return result


print(flatten_list([1, [2, 3], [4, [5, 6]], 7]))
# 출력: [1, 2, 3, 4, 5, 6, 7]

[1, 2, 3, 4, 5, 6, 7]